/*
#000cff kek
#fafae6 sarga
#373d37 szurke
*/

@font-face {
    font-family: 'BPmono';
    src: url('assets/fonts/bpmono-webfont.eot');
    src: url('assets/fonts/bpmono-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/bpmono-webfont.woff2') format('woff2'),
         url('assets/fonts/bpmono-webfont.woff') format('woff'),
         url('assets/fonts/bpmono-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPmono';
    src: url('assets/fonts/bpmonobold-webfont.eot');
    src: url('assets/fonts/bpmonobold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/bpmonobold-webfont.woff2') format('woff2'),
         url('assets/fonts/bpmonobold-webfont.woff') format('woff'),
         url('assets/fonts/bpmonobold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html, body, div, p, section, figure {
    margin: 0;
    padding: 0;
}

body {
    font: 20px/1.6 BPmono, sans-serif;
    background: #fafae6 url(assets/landing/planets.png) no-repeat 50% 2em;
    color: #373d37;
    text-align: center;
}

.wrap {
    max-width: 700px;
    padding: 0 1em;
    margin: 0 auto;
}

section {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 1.5em 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

h1 {
    font: 4em/1 'Abril Fatface', serif;
    color: #000cff;
    position: relative;
}

p {
    margin-bottom: 2em;
}

a {
    color: #373d37;
    text-decoration: none;
    display: inline-block;
    box-shadow: inset 0 -10px 0 -5px white;
    line-height: 1;
    border-bottom: 3px solid white;
    -webkit-transition: border .2s, box-shadow .2s;
    transition: border .2s, box-shadow .2s;
}

a:hover, a:focus {
    border-bottom: 3px solid #000cff;
    box-shadow: none;
}

.imglink,
.imglink:hover,
.imglink:focus {
    box-shadow: none;
    border: none;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: none;
}

small {
    font-size: .25em;
    position: absolute;
    bottom: -1em;
    right: 3em;
}

.source {
    font-size: .75em;
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 1em 2.5em;
    background: white;
    /* background-image: linear-gradient(to right, #000cff 50%, white 50%, white 53%, #000cff 53%, #000cff 54%, white 54%, white 55%, #000cff 55%, #000cff 55.5%, white 55.5%); */
    /* background-image: linear-gradient(135deg, #000cff 50%, white 0%); */
    background-image: -webkit-linear-gradient(315deg, #000cff 50%, white 50%, white 51%, #000cff 51%, #000cff 52%, white 52%, white 53%, #000cff 53%, #000cff 54%, white 54%);
    background-image: linear-gradient(135deg, #000cff 50%, white 50%, white 51%, #000cff 51%, #000cff 52%, white 52%, white 53%, #000cff 53%, #000cff 54%, white 54%);
    background-size: 250% 150%;
    background-position: 95% 0%;
    color: #000cff;
    text-decoration: none;
    border: 4px solid #000cff;
    font-weight: bold;
    margin-top: 2.5em;
    -webkit-transition: background-position .6s;
    transition: background-position .6s;
    box-shadow: none;
    border-bottom-width: 8px;
    position: relative;
}

.button:hover, .button:focus {
    /* background-position: 0% 0%; */
    background-position: 20% 0%;
    color: white;
    border-bottom-width: 8px;
}

.button:active {
    top: 4px;
    border-bottom-width: 4px;
    margin-bottom: 4px;
}

.icons {
    width: 205px;
    height: 22px;
    margin: 0 auto;
    background: url(assets/landing/resources.png) no-repeat;
}

.about {
    background: url(assets/landing/wiggly-stuff.jpg) no-repeat right center;
    background-size: 420px 320px;
}

.credits {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}

.credits h1 {
    width: 100%;
}

.credits figure {
    padding: 1em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 200px;
}

.credits img {
    margin-bottom: 2em;
    width: 50%;
}

.credits p {
    margin: 0;
}
