/*
#000cff kek
#fafae6 sarga
#373d37 szurke
*/

@font-face {
    font-family: 'BPmono';
    src: url('assets/fonts/bpmono-webfont.eot');
    src: url('assets/fonts/bpmono-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/bpmono-webfont.woff2') format('woff2'),
         url('assets/fonts/bpmono-webfont.woff') format('woff'),
         url('assets/fonts/bpmono-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPmono';
    src: url('assets/fonts/bpmonobold-webfont.eot');
    src: url('assets/fonts/bpmonobold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/bpmonobold-webfont.woff2') format('woff2'),
         url('assets/fonts/bpmonobold-webfont.woff') format('woff'),
         url('assets/fonts/bpmonobold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* LAYOUT */

html, body, div, p {
    margin: 0;
    padding: 0;
}

.controlPanel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    z-index: 100;
}

.logo,
.settings {
    flex-grow: 1;
}

.status,
.viewSwitch {
    flex-grow: 0;
}

.collectMoneyButton,
.status .stuffContainer {
    display: none;
}


/* STYLE */

body,
input, button {
    font: 20px/1.3 BPmono, sans-serif;
    text-align: left;
}

button {
    outline: none;
    cursor: pointer;
}

.controlPanel,
.controlPanel button {
    color: white;
}

.logo,
.status,
.viewSwitch,
.settings {
    background: #000cff;
}

.logo h1 {
    text-transform: uppercase;
    font-size: 1em;
    margin: 20px auto;
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 50%;
    background: #fafae6;
    color: #000cff;
    text-align: center;
}

.status {
    padding: 0 0 20px;
}

.status p {
    padding: 0 20px;
    display: flex;
    align-items: center;
    min-height: 24px;
    position: relative;
}

.status .icon {
    transform: scale(.6);
    margin-right: 5px;
}

.status .amount {
    flex-grow: 1;
    height: 7px;
    background: #373d37;
    border-radius: 4px;
}

.status .amount span {
    display: block;
    background: white;
    height: 100%;
    border-radius: inherit;
    vertical-align: middle;
}

.moneyAmount {
    font: 80px/1 'Abril Fatface', serif;
    height: 1em;
}

.tooltip {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -10px;
    left: 34px;
    transform: translate(-50%);
    background: #373d37;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 14px;
    transition: top .2s, opacity .2s;
}

p:hover .tooltip {
    opacity: 1;
    top: -40px;
}
p.money:hover .tooltip {
    top: -18px;
}

.tooltip:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #373d37 transparent transparent;
    border-width: 6px 6px 0;
}

.viewSwitch {
    font: 30px/1 'Abril Fatface', serif;
    background: transparent;
    border: none;
    border-right: 15px solid #000cff;
    padding: 20px;
    position: relative;
    color: white;
}

.viewSwitch:before {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000cff;
}

.viewSwitch span {
    position: relative;
}

.viewSwitch.active {
    color: #373d37;
}
.viewSwitch.active:before {
    width: 0;
}


.settings {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    overflow: hidden;
}

.settings button {
    background: transparent;
    border: none;
    padding: 10px;
    font-size: 16px;
}


#sc-widget {
    position: absolute;
    left: 110%;
}

/* TECHTREE */

.techTree {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 300px solid #fafae6;
    background: #fafae6;
    display: flex;
    overflow: auto;
    -webkit-transform: translate3d(200%,0,0);
    transform: translate3d(200%,0,0);
    transition: transform .5s;
    z-index: 50;
}

.techTree.active {
    transform: translate3d(0%,0,0);
}

.category {
    flex: 1;
    padding: 1em;
}

.category h2 {
    font-size: .6em;
    font-weight: normal;
    text-align: center;
}

.category .spacer {
    width: 0;
    border-left: 1px dashed;
    margin: 1em auto;
    height: 200px;
    position: relative;
}

.category .spacer:after {
    content: '';
    position: absolute;
    top: 100%;
    left: -4px;
    height: 8px;
    width: 6px;
    border: 1px solid;
    border-radius: 4px;
}

.techItem {
    background: white;
    padding: 1em;
    margin: 2em 0;
}

.techItem h1 {
    font: 26px/1 'Abril Fatface', serif;
    padding-bottom: .5em;
    border-bottom: 8px solid #000cff;
}

.techItem .description {
    font-size: 14px;
    margin-bottom: 1em;
}

.techItem button {
    width: 100%;
    color: #000cff;
    border: 3px solid;
    background: white;
    font-size: 16px;
    padding: 1em;
}

.launchButton,
.buildingButton,
.building .startResearchButton,
.launchable .startResearchButton {
    display: none;
}

.building .buildingButton {
    display: block;
}

.launchable .launchButton {
    display: block;
}
