/*
#000cff kek
#fafae6 sarga
#373d37 szurke
*/

@font-face {
    font-family: 'BPmono';
    src: url('assets/fonts/bpmono-webfont.eot');
    src: url('assets/fonts/bpmono-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/bpmono-webfont.woff2') format('woff2'),
         url('assets/fonts/bpmono-webfont.woff') format('woff'),
         url('assets/fonts/bpmono-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPmono';
    src: url('assets/fonts/bpmonobold-webfont.eot');
    src: url('assets/fonts/bpmonobold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/bpmonobold-webfont.woff2') format('woff2'),
         url('assets/fonts/bpmonobold-webfont.woff') format('woff'),
         url('assets/fonts/bpmonobold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* LAYOUT */

html, body, div, p {
    margin: 0;
    padding: 0;
}

.controlPanel {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.logo {
    flex-grow: 1;
}

.status,
.viewSwitch,
.settings {
    flex-grow: 0;
}



.collectMoneyButton,
.stuffContainer {
    display: none;
}


/* STYLE */

body,
input, button {
    font: 20px/1.3 BPmono, sans-serif;
    text-align: left;
}

button {
    outline: none;
}

.controlPanel,
.controlPanel button {
    color: white;
}

.logo,
.status,
.viewSwitch,
.settings {
    background: #000cff;
}

.logo h1 {
    text-transform: uppercase;
    font-size: 1em;
    margin: 30px auto;
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 50%;
    background: #fafae6;
    color: #000cff;
    text-align: center;
}

.status {
    padding: 20px 0;
}

.status p {
    padding: 5px 20px;
}

.moneyAmount {
    font: 80px/1 'Abril Fatface', serif;
}

.tooltip {
    display: none;
}

.viewSwitch {
    font: 30px/1 'Abril Fatface', serif;
    background: transparent;
    border: none;
    border-right: 15px solid #000cff;
    padding: 20px;
    position: relative;
    color: white;
}

.viewSwitch:before {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000cff;
}

.viewSwitch span {
    position: relative;
}

.viewSwitch.active {
    color: #373d37;
}
.viewSwitch.active:before {
    width: 0;
}


.settings {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    padding-top: 20px;
    overflow: hidden;
}

.settings button {
    background: transparent;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}


#sc-widget {
    position: absolute;
    left: 110%;
}
